html{
  margin: 68px 96px;
  font-family: calibri-full;
  font-size: 12;
}

.container{
  margin: 0 auto;
}

/*Page break*/
section{
  page-break-after: always;
}

*{
  font-size: 11;
}

a{
  color: #0F59B3;
}

span.icon{
  font-family: FontAwesome;
  margin-right: 5px;
}

section p{
  line-height: 105%;
  margin-bottom: 20px;
}

/*Header & Footer*/
#header{

}

#footer{
  border-top: 6px solid #004D6C;
  width: 100%;
  position: fixed;
  left: 0px;
  bottom: -180px;
  right: 0px;
  height: 170px;
  padding-top: 5px;
  margin-top: 10px;
}

#footer p{
  position: absolute;
  right: 0;
  font-size: 9.5;
}
/*-------------------*/

.logo{
  margin-bottom: 70px;
}

.first-page-imm{
  font-size: 26;
  color: #4C4635;
  padding-bottom: 16px;
  border-bottom:2px solid #A9A57C;
  margin-bottom: 20px;
}

.first-page-title{
  color: #0F59B3;
  font-size:12;
  letter-spacing: 1px;
}

.heading{
  font-size: 16;
  font-weight: normal;
  color: #0F59B3;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #A9A57C;
}

.heading a,
.heading span{
  font-size: 16;
}

.heading-section{
  margin-bottom: 30px;
}

.heading-section span{
  margin-right: 30px;
}

.sub-heading{
  font-style: italic;
  font-size: 13;
  font-weight: 600;
  border-bottom: none;
}

.section-list{
  margin-left:50px;
  margin-bottom: 10px;
}

.section-list li{
  margin-bottom: 3px;

}

.section-list span{
  padding-right: 30px;
}

.section-list span,
.section-list a{
  font-size: 11;
}

.section-list a{
  color:#000;
}

/*Table*/

.result-table td{
  vertical-align: middle;
  padding: 2px 2px 2px 10px;
  border: 1px solid #333;
}

.result-table table td,
.result-table table span,
.result-table table strong{
  font-size: 11;
}

.table-score-wrapper{
  background-color: #B4ECFC;
}

.table-score{
  font-size:40 !important;
  color: #387026;
}

.result-table{
  margin-bottom: 40px;
}

.result-table table{
  width: 100%;
  border: 3px solid #03485B;
}

.result-table span{
  display: block;
  text-align: center;
}

/*Detail List*/
.detail-list td{
  padding-bottom:20px;
}

.detail-list tr td:first-child span{
  display: inline-block;
  width: 150px;
  font-weight: 800;
}
