html{
  font-family: calibri-full;
  margin: 62.4px 81.6px 74.9px 72.3px;
}

.container{
  margin: 0 auto;
}

/*Page break*/
/*.detail-list-loop*/
section{
  page-break-after: always;
}

section:last-child{
  page-break-after: avoid;
}

span.icon{
  font-family: DejaVu Sans;
  display: inline !important;
}

span.icon-fa{
  font-family: FontAwesome;
  margin-right: 5px;
  display: inline !important;
}

section p{
  line-height: 105%;
  margin-bottom: 10px;
  text-align: justify;
}

.detail-list td{
  text-align: justify;
}

/*Font Size*/
*{
  font-size: 10.5pt;
}

/*Text Color*/
.text-red{
  color: #DD0000;
}

.text-green{
  color: #008800;
}

.text-yellow{
  color:#FF9511;
}

.text-blue{
  color: #07376C;
}

a{
  color: #0F59B3;
}

/*Header & Footer*/
#header{

}

#footer{
  border-top: 6px solid #004D6C;
  width: 100%;
  position: fixed;
  left: 0px;
  bottom: -180px;
  right: 0px;
  height: 170px;
  padding-top: 5px;
  margin-top: 10px;
}

#footer p{
  position: absolute;
  right: 0;
  font-size: 10pt;
}

#footer a{
  text-decoration: none;
}
/*-------------------*/

.logo{
  margin-bottom: 70px;
}

.first-page-imm{
  font-size: 26pt;
  color: #4C4635;
  padding-bottom: 16px;
  border-bottom:2px solid #A9A57C;
  margin-bottom: 20px;
}

.first-page-title{
  color: #0F59B3;
  font-size:12pt;
  letter-spacing: 1px;
}

.heading{
  font-weight: normal;
  color: #0F59B3;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #A9A57C;
}

.heading,
.heading a,
.heading span{
  font-size: 18pt;
}

.heading-section{
  margin-bottom: 20px;
}

.heading-section span{
  margin-right: 30px;
}

.sub-heading{
  font-style: italic;
  font-size: 12pt;
  font-weight: 600;
  border-bottom: none;
}

.section-list{
  margin-left:50px;
  margin-bottom: 10px;
}

.section-list li{
  margin-bottom: 3px;

}

.section-list span{
  padding-right: 30px;
}

.section-list span,
.section-list a{
  font-size: 11pt;
}

.section-list a{
  color:#000;
}

/*Table*/
table .number{
  text-align: center;
}

.result-table td{
  vertical-align: middle;
  padding: 3px;
  border: 1px solid #333;
}

.result-table table td,
.result-table table span,
.result-table table strong{
  font-size: 10.5pt;
}

.table-score-wrapper{
  background-color: #B4ECFC;
}

.table-score{
  font-size:36pt !important;
}

.result-table{
  margin-bottom: 10pt;
  page-break-inside: avoid;
}

.result-table table{
  width: 100%;
  border: 3px solid #03485B;
}

.result-table span{
  display: block;
  text-align: center;
}

/*Detail List*/
.detail-list td{
  padding-bottom:20px;
}

.detail-list tr td:first-child span{
  display: inline-block;
  width: 150px;
  font-weight: 800;
}

/*Priority Table*/
.priority-table{
    margin-bottom: 10px;
}

.priority-table td:first-child{
  width: 125px;
}

.text-priority{
  font-size: 16pt !important;
  font-weight: 800;
}

.priority-link a{
  font-size: 8pt;
  color: #000;
}

/*Rework Detail List Loop*/
.row{
  clear:both;
  position:relative;
}

.col-2,
.col-10{
  padding: 5pt 0;
}

.col-2{
  position:absolute;
  left:0pt;
  width:110pt;
}

.col-2 span{
  font-weight: 800;
}

.col-10{
  margin-left:110pt;
}

.col-10 span{
  display: block;
  padding: 2pt 0;
}

.col-10 i{
  font-style: normal;
}

.avoid-break{
  page-break-inside: avoid;
}
